hugging_face_key
env/
test_env/
*.json
*.csv
ntu-adl-2024-hw-1-chinese-extractive-qa.zip
*.log
output_*
wandb/
*.safetensors
./transformers/
*.zip
transformers/
*.jsonl
!rouge_results.jsonl
*.json
ADL24-HW2/
final_model/